.background-color
{
    background: red;
    font-family: "Monaco"
}

.image-section
{
    border: 20px solid black
}
.header1
{
    font-family: "Times New Roman";
    color: gray;
}
.favorite
{
    font-style: italic;
}